.wrapper {
  composes: wrapper from "/src/styles/utils.css";
  padding-top: 25px;
  justify-content: center;
  align-items: center;
}


.text-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.absent {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
}

.text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-tetriary)
}

.link {
  text-decoration: none;
  font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
