.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: var(--main-area-width);
  margin: 0 auto;
  padding: 0 var(--main-area-padding);
}
