@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./styles/fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'),
    url('./styles/fonts/inter-v12-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./styles/fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2'),
    url('./styles/fonts/inter-v12-cyrillic_latin-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./styles/fonts/inter-v12-cyrillic_latin-700.woff2') format('woff2'),
    url('./styles/fonts/inter-v12-cyrillic_latin-700.woff') format('woff');
}

.page {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}
